{
	"numDatacenters": 2,
	"readQueryTimeout": 10000,
	"commandTimeout": 5000,
        "addressConfigs": [
                {
                        "IP": "10.2.42.46",
                        "paxosPort": 9000,
                        "clientPort": 9100,
                        "serverPort": 9200
                },
                {
                        "IP": "10.2.42.58",
                        "paxosPort": 9000,
                        "clientPort": 9100,
                        "serverPort": 9200
                }
        ],
	"SPANNER_CLIENT_TO_CLOSEST_DATACENTER_LATENCY": 0,
    "SPANNER_INTER_DATACENTER_LATENCY": 0,
    "RC_CLIENT_TO_DATACENTER_AVG_LATENCY": 0,
    "RC_INTER_DATACENTER_LATENCY": 0,
    "INTRA_DATACENTER_LATENCY": 1,
    "DETERMINE_SPANNER_LEADER_PING_LATENCY": 0,
    "LOCK_TABLE_SIZE": 256,
    "COPYCAT_LOG_LEVEL": 0,
    "LUCID_LOG_LEVEL": 3
}