{
	"numClusters": 2,
	"readQueryTimeout": 10000,
	"commandTimeout": 5000,
	"addressConfigs": [
		{
			"IP": "127.0.0.1",
			"paxosPort": 9000,
			"clientPort": 9100,
			"serverPort": 9200
		},
		{
			"IP": "127.0.0.1",
			"paxosPort": 9001,
			"clientPort": 9101,
			"serverPort": 9201
		},
		{
			"IP": "127.0.0.1",
			"paxosPort": 9002,
			"clientPort": 9102,
			"serverPort": 9202
		},
		{
			"IP": "127.0.0.1",
			"paxosPort": 9003,
			"clientPort": 9103,
			"serverPort": 9203
		}
	]
}